/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}
canvas {
    position: fixed;
    transform: translateX(-10vw) rotateZ(135deg) translateY(10vw);
    z-index: -1;
    left: 0;
    width: 200vw !important;
    height: 100vh !important;
}
* {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;

}
body {
    font-family: 'IBM Plex Serif', serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
    cursor: default;
}

#body {
    background-image: linear-gradient(0deg, #ffffff 25%, #ffcccc 25%, #ffcccc 50%, #ffffff 50%, #ffffff 75%, #ffcccc 75%, #ffcccc 100%);
    background-size: 60.00px 60.00px;
}

article {
    display: grid;
    margin: 0 calc(5vw + 100px);
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1.5%;
}
article > * {
    grid-column: span 12;
}


.title {
    text-transform: uppercase;
    letter-spacing: 0.05em; /* letter spacing for uppercased*/
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: right;
    margin-top: 16px;

}


.maff {
    grid-column: 1 / span 6;
    margin-top: -0.7em;
}

h2 {
    font-size: 3rem;

}

.maff-picture {
    grid-column: 7 / span 3;

}
.img {
    background: #eee;
    height: 0;
    padding-top: 133%;
    position: relative;
}
/** This nesting techique is a necessary evil for keeping aspect ratio" */
.img > img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

img {
    box-shadow: 0 2px 1px rgba(0,0,0,0.09), 0 4px 2px rgba(0,0,0,0.09), 0 8px 4px rgba(0,0,0,0.09), 0 16px 8px rgba(0,0,0,0.09), 0 32px 16px rgba(0,0,0,0.09);
        border-radius: 5px;
        overflow: hidden;
}

p {
    max-width: 60ch; /* maximium character count should always be 50-60*/
    line-height: 1.88em;
}

::selection {
    background: #600075
}

.quote {
    font-size: 2rem;
    margin: 2.11em 0 0;
    /*text-align: center;*/;
    line-height: 1.2499;
    position: relative
}
.quote:before {
    content: '“';
    position: absolute;
    left: -.5em;
}
.quote:after {
    content: '”';
    margin-left: .1em
}

.quote-source {
    grid-column: 7 / span 6;
    margin-top: 1.55em;
    margin-bottom: 3em;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: right;
}

.quote-source:before {
    content: "—  "
}

.player {
    margin-top: 8px;
    font-family: 'IBM Plex Sans', sans-serif;
    position: sticky;
    grid-column: span 4;
}
.player button {
    color: inherit;
    background: transparent;
    border: 1px solid currentColor;
    border-radius: 2px;
    padding: 0.75em 2em;
    margin: 0.7em 0;
}
.player button:hover {
    background: white;
    color: black;
}

.intro-text {
    grid-column: span 6;
    margin-top: -2px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.scalab-text {
}

.ellipsis {
    opacity: 0.5;
    letter-spacing: -0.1em;
    font-weight: 300;
    font-size: 0.3em;
    line-height: -1em;
}
.ellipsis:hover {
    opacity: 1;
}

.nowrap { /* good typograph */
    white-space: nowrap;
}


#viz-svg path {
    stroke-dasharray: 1 5 10 2 20 5 20 20 50 20 20 0;
    stroke: url(#gradient);
}


#viz-svg {
    z-index: -1;
    position: fixed;
    width: 297mm;
    pointer-events: none;
    stroke-linecap: round;
    height: 210mm;
    object-fit: cover;
    transform: scale(2) rotate(45deg);
}

body {
    background: linear-gradient(135deg, #0E050F 32%,  #31073C);
    color: white
}

.artwork {
    grid-column: span 4;
    object-fit: contain;
    display: block
}
.artwork > img {
    width: 100%;
    cursor: url('/plus_cursor.png') 25 25, auto;
}

a {
    color: white
}
