/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}
* {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;

}
body {
    font-family: 'Cardo', serif;
    padding: 0;
    margin: 0;
}

#body {
    background-image: linear-gradient(0deg, #ffffff 25%, #ffcccc 25%, #ffcccc 50%, #ffffff 50%, #ffffff 75%, #ffcccc 75%, #ffcccc 100%);
    background-size: 60.00px 60.00px;
}

article {
    display: grid;
    margin: 0 calc(5vw + 100px);
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1.5%;
}
article > * {
    grid-column: span 12;
}


.title {
    text-transform: uppercase;
    letter-spacing: 0.05em; /* letter spacing for uppercased*/
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    margin-top: 16px;

}


.maff {
    grid-column: 1 / span 6;
    margin-top: -0.7em;
}

h2 {
    font-size: 3rem;

}

.maff-picture {
    grid-column: 7 / span 3;

}
.img {
    background: #eee;
    height: 0;
    padding-top: 133%;
    position: relative;
}
/** This nesting techique is a necessary evil for keeping aspect ratio" */
.img > img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

img {
    box-shadow: 0 2px 1px rgba(0,0,0,0.09), 0 4px 2px rgba(0,0,0,0.09), 0 8px 4px rgba(0,0,0,0.09), 0 16px 8px rgba(0,0,0,0.09), 0 32px 16px rgba(0,0,0,0.09);
        border-radius: 5px;
        overflow: hidden;
}

p {
    max-width: 60ch; /* maximium character count should always be 50-60*/
    line-height: 1.88em;
}

.quote {
    font-size: 3rem;
    margin: 2.11em 0 0;
    /*text-align: center;*/;
    justify-self: center; /* special case */
    line-height: 1.2499;
}

.quote-source {
    margin-top: 1.55em;
    margin-bottom: 3em;
}

.player {
    margin-top: 8px;
    font-family: 'Montserrat', sans-serif;
}
.player button {
    background: transparent;
    border: 1px solid black;
    border-radius: 2px;
    padding: 0.75em 2em;
    margin: 0.7em 0;
}
.player button:hover {
    background: black;
    color: white;
}

.intro-text {
    column-span: all;
    margin-top: -2px;
}

.scalab-text {
}

.ellipsis {
    opacity: 0.2;
    margin: 0 0.2em;
    letter-spacing: -0.1em;
    font-weight: 300;
    font-size: 0.7em;
    line-height: -1em;
}

.nowrap { /* good typograph */
    white-space: nowrap;
}


#viz-svg path {
    stroke-dasharray: 1 5 10 2 20 5 20 20 50 20 20 0;
    stroke: url(#gradient);
}


#viz-svg {
    z-index: -1;
    position: fixed;
    width: 297mm;
    pointer-events: none;
    stroke-linecap: round;
    opacity: 0.4;
    /* position: absolute; */
    height: 210mm;
    object-fit: cover;
    /* background: #FAFAFB; */
    transform: scale(2) rotate(45deg);
    /* opacity: 0.2; */

}
