/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}
canvas {
    position: fixed;
    transform: skew(0deg, -5deg);
    z-index: -1;
    left: 0;
    width: 200vw !important;
    height: 100vh !important;
    opacity: 0.8
}
elm-canvas {
    position: absolute;
}

.projects-content {
    display: flex;
    flex-wrap: wrap
}

* {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;

}

.quote {
    font-family: 'IBM Plex Serif', serif;
}

body {
    font-family: 'IBM Plex Serif', serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
    cursor: default;
}

#body {
    background-image: linear-gradient(0deg, #ffffff 25%, #ffcccc 25%, #ffcccc 50%, #ffffff 50%, #ffffff 75%, #ffcccc 75%, #ffcccc 100%);
    background-size: 60.00px 60.00px;
}

article {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100vh 100vh 100vh auto 100vh 100vh;
    grid-column-gap: 1.5%;
    margin: 0 50px;
}
@media only screen and (min-width: 800px) {
    article {
        margin: 0 calc(5vw + 100px);
    }
}
article > * {
    grid-column: span 12;
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
}


.title {
    text-transform: uppercase;
    letter-spacing: 0.05em; /* letter spacing for uppercased*/
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: right;
    padding: 16px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    grid-column: span 12;

}


.maff {
    grid-column: 1 / span 6;
    margin-top: -0.7em;
}

h2 {
    font-size: 3rem;

}

.maff-picture {
    grid-column: 7 / span 3;

}
.img {
    background: #eee;
    height: 0;
    padding-top: 133%;
    position: relative;
}
.maff-picture {
    margin-left: 30px;
}
/** This nesting techique is a necessary evil for keeping aspect ratio" */
img {
    width: 300px;
}


img {
    box-shadow: 0 2px 1px rgba(0,0,0,0.09), 0 4px 2px rgba(0,0,0,0.09), 0 8px 4px rgba(0,0,0,0.09), 0 16px 8px rgba(0,0,0,0.09), 0 32px 16px rgba(0,0,0,0.09);
        border-radius: 5px;
        overflow: hidden;
}

p {
    max-width: 60ch; /* maximium character count should always be 50-60*/
    line-height: 1.88em;
}

::selection {
    background: #600075
}

.quote {
    font-size: 1.5rem;
    margin: 2.11em 0 0;
    /*text-align: center;*/;
    line-height: 1.2499;
    position: relative
}
@media only screen and (min-width: 800px) {
    .quote {
        font-size: 2rem;
    }
}
.quote:before {
    content: '“';
    position: absolute;
    left: -.5em;
}
.quote:after {
    content: '”';
    margin-left: .1em
}

.quote-source {
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: right;
    max-width: none;
}

.quote-source:before {
    content: "—  "
}
.greeting {
    font-size: calc(1rem + 5vh + 10vw);
    margin-left: -10px;
}

.projects-content {
    margin-bottom: 10rem;
}

.player {
    margin-top: 8px;
    font-family: 'IBM Plex Sans', sans-serif;
    grid-column: span 12;
    margin: 10px 0;
}
.player-button {
    color: inherit;
    background: transparent;
    border: 1px solid currentColor;
    border-radius: 2px;
    padding: 0.75em 2em;
    margin-top: 1rem;
    position: sticky;
    top: 16px;
}
.player-button:hover {
    background: white;
    color: black;
}

.intro-section {
    grid-column: span 12;
    align-self: center;
    margin-bottom: calc(5vh + 10vw);

}
.intro-text {
    margin-top: -2px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.explainer {
    grid-column: span 8;
    margin-top: -2px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.scalab-text {
}

.ellipsis {
    opacity: 0.5;
    letter-spacing: -0.1em;
    font-weight: 300;
    font-size: 0.3em;
    line-height: -1em;
}
.ellipsis:hover {
    opacity: 1;
}

.nowrap { /* good typograph */
    white-space: nowrap;
}


#viz-svg path {
    stroke-dasharray: 1 5 10 2 20 5 20 20 50 20 20 0;
    stroke: url(#gradient);
}


#viz-svg {
    z-index: -1;
    position: fixed;
    width: 297mm;
    pointer-events: none;
    stroke-linecap: round;
    height: 210mm;
    object-fit: cover;
    transform: scale(2) rotate(45deg);
}

body {
    background: linear-gradient(135deg, #0E050F 32%,  #31073C);
    color: white
}

.artwork {
    grid-column: span 4;
    object-fit: contain;
    display: block
}
.artwork > img {
    width: 100%;
    cursor: url('/plus_cursor.png') 25 25, auto;
}

a {
    color: white
}

.paintings {
    display: flex;
}
.paintings > * {
    transform: scale(0.9);
    transition: 0.1s ease-in-out;
}
.paintings > *:hover {
    transform: scale(1);
}

.bye {
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top: 10vh
}
